input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
    border-top: none;
}

body {
    font-size: 10pt;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
}

.wrapper .plot-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.grey {
    color: #D3D3D3;
}

.button-icon {
    width: 15px;
    height: 15px;
    vertical-align: initial;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(277deg) brightness(106%) contrast(101%);
}

.page-item a {
    height: 34.66px;
}

.sample-rate-pagination-option {
    width: 48px;
    text-align: center;
}

.autosave-pagination-option {
    width: 48px;
    text-align: center;
}

.mono-text {
    font-variant-numeric: tabular-nums;
}

.value-span {
    text-align: right;
}
